################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleInLogApplication/.vs/ConsoleInLogApplication/v16/Server/sqlite3
/ConsoleInLogApplication/.vs/ConsoleInLogApplication/DesignTimeBuild
/ConsoleInLogApplication/.vs/ConsoleInLogApplication/v16
